<section class="options-app mt-16">
    <h2>Destacados de la semana</h2>
    <div class="card-container">
      <!-- Opción 1 -->
      <div class="card">
        <div class="card-icon">⏱️</div>
        <div class="card-title">Creación rápida de recorridos</div>
        <div class="card-text">
          Crea recorridos de hasta
          <b
            >32 etapas con más de 4000 puntos de interés (POIs) en menos de 20
            minutos</b
          >.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 2 -->
      <div class="card">
        <div class="card-icon">🔍</div>
        <div class="card-title">Búsqueda personalizada</div>
        <div class="card-text">
          Busca información en función de tus intereses, ajustando los resultados
          según el tipo de ruta o POIs que prefieras.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 3 -->
      <div class="card">
        <div class="card-icon">🌍</div>
        <div class="card-title">Contribuye a OpenStreetMap</div>
        <div class="card-text">
          TrackNavigator utiliza OpenStreetMap, una base de datos colaborativa.
          ¡Contribuye y mejora los mapas para todos!
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
    </div>
  </section>