<!-- app.component.html -->
<div class="container">
  <!-- Navbar fijo -->
  <header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/drinks">Bebidas</a></li>
        <li><a routerLink="/gels">Geles</a></li>
        <li><a routerLink="/calculators">Calculadoras</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/bad" routerLinkActive="active">Bad route</a></li>
      </ul>
    </nav>
  </header>

  <!-- Contenido principal -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer fijo -->
  <footer>
    <p>FitFuel DIY &copy; 2024 - Anartz Mugika Ledo</p>
  </footer>
</div>
