<!-- app.component.html -->
<div class="container">
  <!-- Navbar fijo -->
  <header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/buscador">Buscador</a></li>
        <li><a routerLink="/recipes">Recetas</a></li>
        <li><a routerLink="/calculadoras">Calculadoras</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/bad" routerLinkActive="active">Bad route</a></li>
      </ul>
    </nav>
  </header>

  <!-- Contenido principal -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer fijo -->
  <footer>
    <p>Sport Recipes &copy; 2024 - Anartz Mugika Ledo</p>
  </footer>
</div>
