<section class="principal">
    <div class="content">
      <h1>FitFuel DIY</h1>
      <p>
        El directorio que te ayuda crear de manera sencilla, eficaz y rápida
        cualquier bebida energética o gel, con unas breves y sencillas indicaciones
      </p>
      <div class="buttons">
        <a routerLink="/app" class="btn btn-app">Aplicación</a>
        <a routerLink="/faq" class="btn btn-faq">Preguntas Frecuentes (FAQ)</a>
        <a routerLink="/about-me" class="btn btn-faq">Sobre mí</a>
      </div>
    </div>
    <div class="image">
      <img
        src="https://raw.githubusercontent.com/mugan86/track-navigator-tracks/master/assets/images/home1.png"
        alt="Imagen aleatoria de Picsum" />
    </div>
  </section>
<section class="options-app">
    <h2>Destacados de la semana</h2>
    <div class="card-container">
        <!-- Opción 1 -->
        <div class="card">
            <div class="card-icon">⏱️</div>
            <div class="card-title">Creación rápida de recorridos</div>
            <div class="card-text">
                Crea recorridos de hasta
                <b>32 etapas con más de 4000 puntos de interés (POIs) en menos de 20
                    minutos</b>.
            </div>
            <!--<a href="#" class="more-link">Más información →</a>-->
        </div>

        <!-- Opción 2 -->
        <div class="card">
            <div class="card-icon">🔍</div>
            <div class="card-title">Búsqueda personalizada</div>
            <div class="card-text">
                Busca información en función de tus intereses, ajustando los resultados
                según el tipo de ruta o POIs que prefieras.
            </div>
            <!--<a href="#" class="more-link">Más información →</a>-->
        </div>

        <!-- Opción 3 -->
        <div class="card">
            <div class="card-icon">🌍</div>
            <div class="card-title">Contribuye a OpenStreetMap</div>
            <div class="card-text">
                TrackNavigator utiliza OpenStreetMap, una base de datos colaborativa.
                ¡Contribuye y mejora los mapas para todos!
            </div>
            <!--<a href="#" class="more-link">Más información →</a>-->
        </div>
    </div>
</section>
  <section class="options-app">
    <h2>Nuevas incorporaciones</h2>
    <div class="card-container">
      <!-- Opción 1 -->
      <div class="card">
        <div class="card-icon">⏱️</div>
        <div class="card-title">Creación rápida de recorridos</div>
        <div class="card-text">
          Crea recorridos de hasta
          <b
            >32 etapas con más de 4000 puntos de interés (POIs) en menos de 20
            minutos</b
          >.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 2 -->
      <div class="card">
        <div class="card-icon">🔍</div>
        <div class="card-title">Búsqueda personalizada</div>
        <div class="card-text">
          Busca información en función de tus intereses, ajustando los resultados
          según el tipo de ruta o POIs que prefieras.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 3 -->
      <div class="card">
        <div class="card-icon">🌍</div>
        <div class="card-title">Contribuye a OpenStreetMap</div>
        <div class="card-text">
          TrackNavigator utiliza OpenStreetMap, una base de datos colaborativa.
          ¡Contribuye y mejora los mapas para todos!
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
    </div>
  </section>
  <section class="options-app">
    <h2>Calculadoras</h2>
    <div class="card-container">
      <!-- Opción 1 -->
      <div class="card">
        <div class="card-icon">⏱️</div>
        <div class="card-title">Creación rápida de recorridos</div>
        <div class="card-text">
          Crea recorridos de hasta
          <b
            >32 etapas con más de 4000 puntos de interés (POIs) en menos de 20
            minutos</b
          >.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 2 -->
      <div class="card">
        <div class="card-icon">🔍</div>
        <div class="card-title">Búsqueda personalizada</div>
        <div class="card-text">
          Busca información en función de tus intereses, ajustando los resultados
          según el tipo de ruta o POIs que prefieras.
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
  
      <!-- Opción 3 -->
      <div class="card">
        <div class="card-icon">🌍</div>
        <div class="card-title">Contribuye a OpenStreetMap</div>
        <div class="card-text">
          TrackNavigator utiliza OpenStreetMap, una base de datos colaborativa.
          ¡Contribuye y mejora los mapas para todos!
        </div>
        <!--<a href="#" class="more-link">Más información →</a>-->
      </div>
    </div>
  </section>
  <section class="options-app">
    <h2>Introducción a Track Navigator para aprender lo indispensable</h2>
    <!--<app-youtube-video [videoId]="'uc123toJ-oA'"></app-youtube-video>-->
  </section>